<div class="main-container">
  <div class="friends-container">
    <div class="friends-section">
      <h3>Your Friends</h3>
      <ul class="friends-list" *ngIf="friendships.length > 0; else noFriends">
        <li *ngFor="let friend of friendships" class="friend-item">
          <img src="/assets/images/avatar.png" alt="Friend Avatar" class="friend-avatar">
          <span class="friend-name">{{ friend }}</span>
        </li>
      </ul>
      <ng-template #noFriends>
        <p class="no-friends-message">You have no friends yet.</p>
      </ng-template>
    </div>

    <div class="add-friend-section">
      <h3>Add a New Friend</h3>
      <form (ngSubmit)="addFriend(usernameFriendInput.value, usernameFriendInput)">
        <input
          #usernameFriendInput
          type="text"
          placeholder="Enter friend's username"
          class="input-field"
          required
        />
        <button type="submit" class="add-button">+</button>
      </form>
    </div>
  </div>
</div>
