<div class="main-container">
  <div class="history-container">
    <h2 class="history-title">Historique des Parties</h2>

    <div class="no-games-message">
      Aucun historique de parties n'est disponible.
    </div>


    <ul class="game-list" style="display: none;">
      <li class="game-item">
        <div class="game-info">
          <span class="players">Moi vs Julien </span>
          <span class="result">Julien gagne</span>
          <span class="date">15 novembre 2024</span>
        </div>
      </li>
      <li class="game-item">
        <div class="game-info">
          <span class="players">Moi vs Harry</span>
          <span class="result">Match nul</span>
          <span class="date">14 novembre 2024</span>
        </div>
      </li>
      <li class="game-item">
        <div class="game-info">
          <span class="players">Moi vs Alain</span>
          <span class="result">Match nul</span>
          <span class="date">12 novembre 2024</span>
        </div>
      </li>
    </ul>
  </div>
</div>
