/* Appliquer le style à toute la page */
.container {
  background-image: url('/assets/images/fond.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.slogan {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  .button {
    padding: 12px 30px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &.local-button {
      background-color: dodgerblue;
    }

    &.online-button {
      background-color: darkviolet;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
